doctype html
html
    head
        title Megedagik

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" type="text/css" href="js/bootstrap/dist/css/bootstrap.min.css?#{buildTimestamp}")
        link(rel="stylesheet" type="text/css" href="css/main.css?#{buildTimestamp}")

        script(type="text/javascript") window.buildTimestamp = #{buildTimestamp};
        script(type="text/javascript" src="js/system.js/dist/system.js")
        
        script(type='text/javascript').
            System.config({
                defaultJSExtensions: true,
                baseURL: '/js',
                meta: {
                    'jquery': {
                        format: 'global',
                        exports: '$'
                    },
                    'angular': {
                        format: 'global',
                        exports: 'angular',
                        deps: ['jquery']
                    },
                    'angular-router': {
                        format: 'global',
                        deps: ['angular']
                    },
                    'bootstrap': {
                        format: 'global',
                        deps: ['jquery']
                    },
                    'app': {
                        format: 'register',
                        exports: 'start',
                        deps: ['jquery', 'angular', 'angular-router', 'bootstrap', 'sockjs-client', 'wolfy87-eventemitter']
                    }
                },
                map: {
                    'jquery': `jquery/dist/jquery.min.js?${window['buildTimestamp']}`,
                    'angular': `angular/angular.min.js?${window['buildTimestamp']}`,
                    'angular-router': `angular-ui-router/release/angular-ui-router.min.js?${window['buildTimestamp']}`,
                    'bootstrap': `bootstrap/dist/js/bootstrap.min.js?${window['buildTimestamp']}`,
                    'sockjs-client': `sockjs-client/dist/sockjs-1.0.3.min.js?${window['buildTimestamp']}`,
                    'wolfy87-eventemitter': `eventEmitter/EventEmitter.min.js?${window['buildTimestamp']}`,
                    'app': 'app.js'
                }
            });
            
            System.import('jquery');
            System.import('angular');
            System.import('angular-router');
            System.import('bootstrap');
            System.import('sockjs-client');
            System.import('wolfy87-eventemitter');
            System.import('app').then(function(app) {
                app.start();
            })
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a(href="#").navbar-brand {{ 'Megedagik stick!' }}
        br
        ui-view